body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: #C1343F;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}



header .jumbotron {
  height: 40vh;
  margin-bottom: 0;
  background: url(../images/misc/background.jpg) no-repeat 100% 5%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header .navbar-brand {
  font-size: 1.2em;
}

.maincontent {
  line-height: 160%;
}

.sidebar {
  font-family: 'Roboto', sans-serif;
  line-height: 130%;
}

.sidebar {
  font-size: 0.9em;
}

.sidebar-title {
  font-size: 1.3em;
}

.sidebar .sidebar-body li {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .sidebar {
    line-height: 160%;
  }
  .sidebar .sidebar-title {
    font-size: 2em;
  }
}

.speakerslist {
  line-height: 160%;
}

.speakerslist-title {
  color: #000000 !important;
}

.speakerslist-name a:hover {
  text-decoration: none;
  color: #343a40;
}

.jumbotron {
  padding: 20px 0;
  border-radius: 0%;
}

.feedback-name {
  font-size: .6em;
  font-weight: 100;
}

.feedback-message {
  font-weight: 100;
  font-size: .9em;
  line-height: 120%;
  margin-top: 5px;
}

.feedback-item {
  border-bottom: 1px solid gray;
  padding: 8px 0;
}

.feedback-title{
  font-weight: 400;
  font-size: 1.1em;
}

.feedback-form label {
  font-weight: 400;
}

.feedback-item:last-of-type {
  border-bottom: none;
}


/**  pixgrid **/

.pixgrid {
  cursor: pointer;
  margin-top: 20px;
}

.pixgrid img {
  display: block;
  padding: 5px;
  float: left;
  width: 33.33%;
  border-radius: 8px;
}

@media (min-width: 500px) and (max-width: 768px) {
  .pixgrid img {
    width: 20%;
  }
}



#questionLi,
#questionTemplate{
  padding-left: 0px;
}

#answerForm, 
#answerList,
#surveyTitle,
#surveyDesc{
  text-align: left;
}


body {
  background-color: #E9D3FF;
  text-align: center;
  border-top-color: white;
  font-size: large;
  font: italic bold 16px/32px arial, serif;
}

h1{
	font: bold;
	font-size: 20px;
	text-align: left;
}

h2{
	font: italic bold 16px/32px arial, serif;
	font-size: 40px;
	padding-top: 60px;
}

.heading{
	background-color: white;
	padding: 5px;
}

.listSurveys {
  text-align: center;
  padding-left: 0%;
	list-style-type: none;
}


.buttonlinks  {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: absolute;
  border-left: 10px;
}

.libutton {
  float: left;
}

.libutton .button {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.libutton .button:hover {
  background-color: #111;
}

.buttonbottom {
 
	display: inline-block;
  color: white;
  text-decoration: none;
  background-color: #333;
  padding: 5px;
}

.buttonbottom:hover {
  background-color: #111;
}

.optionsForm{
  padding: 50px;
}