<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="js/script.js"></script>
    <link rel="stylesheet" href="/css/style.css">

  </head>
    

  <body>
    <div class ="heading">
      <title>Super Cool Webpage: Survey</title>
      <h1 class = "head">Dr. Reevus' Droids Survey</h1>
      <div class="headerLinks">
        <%let link = "/mySurveys/" + user; %>
        <ul class="buttonlinks">
          <li class="libutton"><a class="button" href="adminSurveyView">Survey Admin View</a></li>
          <li class="libutton"><a class="button" href="userSurveyView">Survey User View </a></li>
          <li class="libutton"><a class="button" href=<%-link%> ><%-link%></a></li>
          <li class="libutton"><a class="button" href="surveyBuild">Build a New Survey</a></li>
          <li class="libutton"><a class="button" href="surveyData">Analytics</a></li>
          <li class="libutton"><a class="button" href="about">About</a></li>
          <li class="libutton"><a class="button" href="reevous">Reevous</a></li>
          <li class="libutton"><a class="button" href="signOut">Sign Out</a></li>
        </ul>
      </div>
    </div>



    <h2>Admin View</h2>
    Logged in as: <%- user %>

    <hr>
    <h2>Approved Surveys</h2>
    <ul id="approvedSurveys" class = "listSurveys">
      <!-- Make this surveysDB to make it display DB surveys-->
      <% surveysDB.forEach(function (s) { %>
       <% if(s.admin_email != "noadmin") { %>

      <li>
        <div>
          <a href= <%= "/surveyTake/" + s.survey_id %> id="survey_title"> <%= s.survey_title %></a>, <em> <a id ="survey_description" <%= s.survey_description %></a> </em> <a style="font-size: 12px;"> Created: (<%= s.created_date %>) Edited: (<%= s.edit_date %>) </a>, Author <%= s.users_email %> Approved by <%= s.admin_email %>
        </div>
      </li>

      <form action=<%= "surveyBuild/" + s.survey_id %> >
        <input type="submit" value = "Edit">
      </form>


        <form method="POST" action="./adminSurveyView">
          <input type="submit" value = "Un-Submit">
          <input type="hidden" name="survey_id"    value="<%=s.survey_id%>">
          <input type="hidden" name="survey_title" value="<%=s.survey_title%>">
          <input type="hidden" name="survey_description" value="<%=s.survey_description%>">
          <input type="hidden" name="created_date" value="<%=s.created_date%>">
          <input type="hidden" name="edit_date"    value="<%=s.edit_date%>">
          <input type="hidden" name="author_email" value="<%=s.users_email%>">
          <input type="hidden" name="user"         value="<%=user%>">
          <input type="hidden" name="approve"      value="false">
        </form>
        <% } %>
      <% }) %>
    </ul>

    <a class="buttonbottom" href="surveyBuild"> Build a New Survey</a>

    

    <h2>Submitted Surveys (Need Approval)</h2>
    <ul class = "listSurveys" id = "submittedSurveysID">
    <% surveysDB.forEach(function (s) { 
      if(s.admin_email == "noadmin") { %>

      <li>
        <div>
          <a name="title" href = <%= "/surveyTake/" + s.survey_id %> id="survey_title"> <%= s.survey_title %></a>, <em> <a id ="survey_description" <%= s.survey_description %></a> </em> <a style="font-size: 12px;"> Created: (<%= s.created_date %>) Edited: (<%= s.edit_date %>) </a>, Author <%= s.users_email %> 
        </div>
        <form method="POST" action="./adminSurveyView">

          <input type="submit">
          <input type="hidden" name="survey_id"    value="<%=s.survey_id%>">
          <input type="hidden" name="survey_title" value="<%=s.survey_title%>">
          <input type="hidden" name="survey_description" value="<%=s.survey_description%>">
          <input type="hidden" name="created_date" value="<%=s.created_date%>">
          <input type="hidden" name="edit_date"    value="<%=s.edit_date%>">
          <input type="hidden" name="author_email" value="<%=s.users_email%>">
          <input type="hidden" name="user"         value="<%=user%>">
          <input type="hidden" name="approve"      value="true">
        </form>

      </li>

      <% }}) %>
      
    </ul>
    

  </body>
</html>
