<!DOCTYPE html>
<html lang="en">
  <header>
    <link rel="stylesheet" href="/css/style.css">
  </header>
  <head>
    <title>Super Cool Webpage: Surveys</title>
    
  </head>

  <body>
    <% if(locals.errors) {%>
      <div class="alert alert-danger">
        <ul>
          <% errors.forEach(function (error) {%>
          <li><%= error.msg %></li>
          <%})%>
        </ul>
      </div>
      <%} else if(locals.successMessage) {%>
      <div class="alert alert-success">
        <%= successMessage; %>
      </div>
      <%}%>
    <div class="heading">
      <h1 class = "head">Dr. Reevus' Droids Survey</h1>
      
      <hr>

    </div>

    <div class="container" style="background-color:#f1f1f1">
      <div>
        <span>Sign in</span>
      </div>
    </div>

    <!-- SIGN IN -->
    <form method="POST" action="./login">

      <div>
        <label for="login-form-email">Email</label>
        <input
          type="text"
          class="form-control"
          id="login-form-email"
          name="email"
          placeholder="Email"
        />
      </div>

      <div>
        <label for="password">Password</label>
        <input 
          id="password" 
          type="password" 
          name="password" 
          placeholder="Enter Password"  
          required
          />
      </div>

      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>

      <button type="submit" >Submit</button>

  </form>

  <div class="container" style="background-color:#f1f1f1">
    <div>
      <span class="password">Don't have an account? Sign up below!</span>
    </div>
    <hr>
  </div>

  <form method="POST" action="./login">

      <div>
        <label for="emailC">Email</label>
        <input id ="emailC" type="email" name="emailC" placeholder="Enter Email" required>
      </div>

      <div>
        <label for="passwordC">Password</label>
        <input id = "passwordC" type="password" name="passwordC" placeholder="Enter Password"  onkeyup="return pwMatch()" required>
      </div>
      <div>
        <label for="password2C">Confirm Password</label>
        <input id = "password2C" type="password" name="password2C" placeholder="Confirm Password" onkeyup="return pwMatch()" required>
      </div>
      <div id="pwLengthCheck">
      </div>
      <div id="pwMatchText">
      </div>

      <button type="submit">Create Account!</button>
    </form>

  <div class="container" style="background-color:#f1f1f1">
    <div>
      <span>Just want to take some surveys? Be a simpleton user!</span>
    </div>
  </div>

  <form method="POST" action="./login">

    <div>
      <label for="nameU">Name</label>
      <input
        type="text"
        class="form-control"
        id="nameU"
        name="nameU"
        placeholder="Name"
      />
    </div>
    <button type="submit" >Continue as a user</button>

  </form>

  </button>
  </body>
  <script src="js/script.js"></script>

</html>


