<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="js/script.js"></script>
    <link rel="stylesheet" href="/css/style.css">
  </head>
    

  <body>
    <div class ="heading">
      <title>Super Cool Webpage: Survey</title>
      <h1 class = "head">Dr. Reevus' Droids Survey</h1>
      <div class="headerLinks">
        <%let link = "/mySurveys/" + user; %>
        <ul class="buttonlinks">
          <li class="libutton"><a class="button" href="/adminSurveyView">Survey Admin View</a></li>
          <li class="libutton"><a class="button" href="/userSurveyView">Survey User View </a></li>
          <li class="libutton"><a class="button" href=<%-link%> ><%-link%></a></li>
          <li class="libutton"><a class="button" href="/surveyBuild">Build a New Survey</a></li>
          <li class="libutton"><a class="button" href="/surveyData">Analytics</a></li>
          <li class="libutton"><a class="button" href="/about">About</a></li>
          <li class="libutton"><a class="button" href="/reevous">Reevous</a></li>
          <li class="libutton"><a class="button" href="/signOut">Sign Out</a></li>
        </ul>
      </div>
    </div>
    
    <h2><%- user %>'s Surveys</h2>
    <hr>
    
    

    <ul class = "listSurveys">

      <% if(surveys.length == 0) { %>
            <div>You havent made any surveys yet!</div> 
            <a class="buttonbottom" href="/surveyBuild"> Build a New Survey</a>

      <% } else { %>
      <h2>Approved/Public Surveys</h2>
      <% surveys.forEach(function (s) { %>
        <% if(s.admin_email != "noadmin") { %>

      <li>
        <div>
          <a href= <%= "/surveyTake/" + s.survey_id %>> <%= s.survey_title %></a>, <em> <%= s.survey_description %> </em> (<%= s.created_date %>), Approved by <%= s.admin_email %>
        </div>
        
        <form method="POST" action="/mySurveys">
          <input type="submit" value="Delete Survey"> 
          <input type="hidden" name="survey_id" value="<%=s.survey_id%>">
          <input type="hidden" name="user" value="<%=user%>">
        </form>

      </li>
      <% } %>    
    <% }) %>

    <hr>
     
    </ul>

    <h2>UnApproved</h2>
    <ul class="listSurveys">
      <% surveys.forEach(function (s) { %>
        <% if(s.admin_email == "noadmin") { %>

      <li>
        <div>
          <a href= <%= "/surveyTake/" + s.survey_id %>> <%= s.survey_title %></a>, <em> <%= s.survey_description %> </em> (<%= s.created_date %>)
        </div> 
        <form method="POST" action="/mySurveys">
          <input type="submit" value="Delete Survey"> 
          <input type="hidden" name="survey_id" value="<%=s.survey_id%>">
          <input type="hidden" name="user" value="<%=user%>">
        </form>
      </li>
      <% } %>    

    <% }) %>   
 
    </ul>
    <% } %>  
      
  </body>
</html>
