<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/style.css">
  </head>
 
  <body>
    <div class ="heading">
      <title>Super Cool Webpage: Survey</title>
      <h1 class = "head">Dr. Reevus' Droids Survey</h1>
      <div class="headerLinks">
        <%let link = "mySurveys/" + user; %>
        <ul class="buttonlinks">
          <li class="libutton"><a class="button" href="adminSurveyView">Survey Admin View</a></li>
          <li class="libutton"><a class="button" href="userSurveyView">Survey User View </a></li>
          <li class="libutton"><a class="button" href=<%-link%> ><%-link%></a></li>
          <li class="libutton"><a class="button" href="surveyBuild">Build a New Survey</a></li>
          <li class="libutton"><a class="button" href="surveyData">Analytics</a></li>
          <li class="libutton"><a class="button" href="about">About</a></li>
          <li class="libutton"><a class="button" href="reevous">Reevous</a></li>
          <li class="libutton"><a class="button" href="signOut">Sign Out</a></li>
        </ul>
      </div>
    </div>
      <hr>
      <div class="imgcontainer">
        <img src="images/reevous.png" alt="Avatar" >
      </div>
  </body>
</html>
