<!DOCTYPE html>
<html lang="en">
  <header>
    <link rel="stylesheet" href="/css/style.css">
  </header>
  <head>
    <title>Super Cool Webpage: Survey</title>
  </head>

  <body>
    <header>
      <h1 class = "head">Dr. Reevus' Droids Survey</h1>

    You have succesfully been signed out. Cya later!

    <form action="login">
      Didnt mean to sign-out?
      <button type="submit"> Log back in</button>
    </form>
  </body>
</html>
