<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Super Cool Webpage: Survey</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <div class ="heading">
      <title>Super Cool Webpage: Survey</title>
      <h1 class = "head">Dr. Reevus' Droids Survey</h1>
      <div class="headerLinks">
        <%let link = "mySurveys/" + user; %>
        <ul class="buttonlinks">
          <li class="libutton"><a class="button" href="adminSurveyView">Survey Admin View</a></li>
          <li class="libutton"><a class="button" href="userSurveyView">Survey User View </a></li>
          <li class="libutton"><a class="button" href=<%-link%> ><%-link%></a></li>
          <li class="libutton"><a class="button" href="surveyBuild">Build a New Survey</a></li>
          <li class="libutton"><a class="button" href="/surveyData">Analytics</a></li>
          <li class="libutton"><a class="button" href="about">About</a></li>
          <li class="libutton"><a class="button" href="reevous">Reevous</a></li>
          <li class="libutton"><a class="button" href="signOut">Sign Out</a></li>
        </ul>
      </div>
    </div>
    <h2>Take a Survey</h2>    
    Logged in as: <%- user %>

    <hr>
  
    <form method="POST" action="<% '/surveyTake/' + survey[0].survey_id %>" class="optionsForm" id="optionsForm">
      <input type="submit" value="Submit" onclick="sendTakenSurveyJSON(this); "/>
      <input type="hidden" name="user" value=<%- user %> />
      <input type="hidden" name="survey_id" value=<%- survey[0].survey_id %> />
    </form>

    <div id="surveyTitle"><%- survey[0].survey_title %> </div>
    <p id="surveyDesc"><%- survey[0].survey_description %> </p>

    <ol id = "questionsOl">
      <%  let radioName = 0; %>
      <%  questions.forEach(q => { %>
        
          <div id="<%- q.question_type %>">
            <li id = "questionLi" >
              <div id="<%- q.question_type%>">
                <div id = "answerForm" >
                  <div id="questionTitle"><strong><%- q.text %><% if(q.question_required == "true") { %> <a style="color: red;">*</a> <% } %> </strong> </div> 
                </div>
                <hr>
                <ol id = answerList type="A">
                <%  answers.forEach(function (a) { %>
                  <% if(a.question_id == q.question_id){ %>
                    <% if(q.question_type == "Multiple Choice") { %>
        
                        <li> 
                          <input type="radio" name=<%= radioName %> placeholder="" value="<%- a.answer %>"> <%- a.answer %>
                        </li>
                        
                    <% }else if(q.question_type == "Likert5") { %> 
        
                          <li style ="list-style-type: none;"> 
                            <input type="radio" name=<%= radioName %> placeholder="" value="<%- a.answer %>"> <%- a.answer %>
                          </li>
                          
                    <% }else if(q.question_type == "Short Answer") { %>
                        <li style ="list-style-type: none;"> 
                          <textarea rows=5 cols=33><%- a.answer %></textarea>
                        </li>
        
        
                    <% }else if(q.question_type == "TF") { %>
        
                          <li style ="list-style-type: none;"> 
                            <input type="radio" name="<%= radioName %>" placeholder="" value="<%- a.answer %>"> <%- a.answer %>
                          </li>
                    <% } %>
                  <% } %>
      
                <% }) %>
      
                </ol>
              <br>
              </div>
            </li>
          </div>


            <%  radioName++; %>
      
        <% }) %>  
    </ol>

      <!-------------------------------------------------------------------------------->
      <script src="/js/script.js"></script>
      

  </body>
</html>

