<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="js/script.js"></script>
    <link rel="stylesheet" href="/css/style.css">

  </head>
    

  <body>
    <div class ="heading">
      <title>Super Cool Webpage: Survey</title>
      <h1 class = "head">Dr. Reevus' Droids Survey</h1>
      <div class="headerLinks">
        <%let link = "/mySurveys/" + user; %>
        <ul class="buttonlinks">
          <li class="libutton"><a class="button" href="adminSurveyView">Survey Admin View</a></li>
          <li class="libutton"><a class="button" href="userSurveyView">Survey User View </a></li>
          <li class="libutton"><a class="button" href=<%-link%> ><%-link%></a></li>
          <li class="libutton"><a class="button" href="surveyBuild">Build a New Survey</a></li>
          <li class="libutton"><a class="button" href="surveyData">Analytics</a></li>
          <li class="libutton"><a class="button" href="about">About</a></li>
          <li class="libutton"><a class="button" href="reevous">Reevous</a></li>
          <li class="libutton"><a class="button" href="signOut">Sign Out</a></li>
        </ul>
      </div>
    </div>


    <h2>Analytics</h2>
    Logged in as: <%- user %>

    <hr>
 

    <ul id="SurveysList" style="text-align: left; color: darkslategray;">
    <% surveys.forEach(function (s) { %>
      
      <li>
        <a name="title" href = <%= "/surveyTake/" + s.survey_id %> id="survey_title"> <%= s.survey_title %></a> 
      </li>
      <ul id="QuestionsList" style="color: green;">
      <% questions.forEach(function (q) { %>
          <% if(q.survey_id == s.survey_id) {  %>
            <li><%- q.text %></li>
         

          <ul style="color: black">
          <% choices.forEach(function (c) { let usedUser = false; %>
            <% if(q.question_id == c.question_id) {  %>

                <li><%- c.choice %>: 
                  
                    <% users.forEach(function (u) { %>
                      <% if(c.users_id == u.users_id) {  %>
                        <a style="color: grey;"> <%- u.users_email %> </a>
                    <% } else if(c.users_id == -1 && !usedUser) { usedUser = true; %>
                      <a style="color: grey;">(No account user)</a>
                    <% } %>
                  

                </li>
              <% }) %>

          <% }}) %>
          </ul>

          <% } %>
      <% }) %>
      </ul>

    <% }) %>
    </ul>
  
  </body>
</html>


