<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Super Cool Webpage: Survey</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>



  <body>
    <div class ="heading">
      <title>Super Cool Webpage: Survey</title>
      <h1 class = "head">Dr. Reevus' Droids Survey</h1>
      <div class="headerLinks">
        <%let link = "mySurveys/" + user; %>
        <ul class="buttonlinks">
          <li class="libutton"><a class="button" href="adminSurveyView">Survey Admin View</a></li>
          <li class="libutton"><a class="button" href="userSurveyView">Survey User View </a></li>
          <li class="libutton"><a class="button" href=<%-link%> ><%-link%></a></li>
          <li class="libutton"><a class="button" href="surveyBuild">Build a New Survey</a></li>
          <li class="libutton"><a class="button" href="surveyData">Analytics</a></li>
          <li class="libutton"><a class="button" href="about">About</a></li>
          <li class="libutton"><a class="button" href="reevous">Reevous</a></li>
          <li class="libutton"><a class="button" href="signOut">Sign Out</a></li>
        </ul>
      </div>
    </div>
    <h2>Build a new Survey</h2>
    Logged in as: <%- user %>

    <hr>



    <input id="sharebutton" type="button" value="Share" onclick="share(this)"/>


    <form method="POST" action="/surveyBuild" class="optionsForm" id="optionsForm">
      <input type="submit" value="Save" onclick="sendSavedSurveyJSON(this), alert('Your Changes have been Saved!\nYou can safely leave this page :]'); "/>
      <input type="hidden" name="user" value=<%- user %> />

      <input name="survey_title" id="surveyTitle" placeholder="Survey Title">
      <hr>
      <textarea name= "survey_description" id="surveyDesc" placeholder="Description"></textarea>
    
    </form>
    
    <ol id = "questionList">
      <!-- This is where questions will be created -->
    </ol>

    <div>
      <input type="button" value="+ Question" onclick="addQuestion()" />
    </div>

    <!-- This <ol> <li> is an invisble template that will be copied to create new questions-->
      <ol style="visibility: hidden;">
        <li id = "questionTemplate">
          <form id = "answerForm">
            <input placeholder="Question">
            <label for="drpdn">Answer Type:</label>
            <select id="drpdn" name="drpdn">
              <option value="Multiple Choice">Multiple Choice</option>
              <option value="Short Answer">Short Answer</option>
              <option value="Likert5">Likert Scale</option>
              <option value="TF">True/False</option>
            </select>
            <input type="checkbox" class="Req" name="Req">
            <label for="Req"> Required</label>
            <input type="button" value="- Question" onclick="subtractQuestion(this)" />
          </form>
          <hr>
          <ol id = answerList type="A">
            <!-- This is where answers will be created -->
          </ol>
          <div>
            <input type="button" value="+ answer" onclick="addAnswer(this)"/>
            <input type="button" value="- answer" onclick="subtractAnswer(this)"/>
          </div>
          <br>
        </li>
      </ol>

      
      
      <!-------------------------------------------------------------------------------->


      
    
      <script src="js/script.js"></script>

  </body>
</html>

<style>
  li{
    text-align: left;
  }
</style>

