<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Super Cool Webpage: Survey</title>
    <link rel="stylesheet" href="/css/style.css">

  </head>
  <body>
    <div class ="heading">
      <title>Super Cool Webpage: Survey</title>
      <h1 class = "head">Dr. Reevus' Droids Survey</h1>
      <div class="headerLinks">
        <%let link = "mySurveys/" + user; %>
        <ul class="buttonlinks">
          <li class="libutton"><a class="button" href="adminSurveyView">Survey Admin View</a></li>
          <li class="libutton"><a class="button" href="userSurveyView">Survey User View </a></li>
          <li class="libutton"><a class="button" href=<%-link%> ><%-link%></a></li>
          <li class="libutton"><a class="button" href="surveyBuild">Build a New Survey</a></li>
          <li class="libutton"><a class="button" href="/surveyData">Analytics</a></li>
          <li class="libutton"><a class="button" href="about">About</a></li>
          <li class="libutton"><a class="button" href="reevous">Reevous</a></li>
          <li class="libutton"><a class="button" href="signOut">Sign Out</a></li>
        </ul>
      </div>
    </div>
    <h2>Build a Survey</h2>  
    <hr>
    <input id="sharebutton" type="button" value="Share" onclick="share(this)"/>
    <form method="POST" action="/surveyBuild" class="optionsForm" id="optionsForm">
      <input type="submit" value="Save" onclick="sendSavedSurveyJSON(this), alert('Your Changes have been Saved!\nYou can safely leave this page :]'); "/>
      <input type="hidden" name="user" value=<%- user %> />
      <input name="survey_title" id="surveyTitle" placeholder="Survey Title" value="<%- survey[0].survey_title %>">
      <hr>
      <textarea name= "survey_description" id="surveyDesc" placeholder="Description"> <%- survey[0].survey_description %> </textarea>
    </form>
    <ol id = "questionList">
      
      <% questions.forEach(q => { %>
        <li id = "questionLi">
        <form id = "answerForm">
          <input placeholder="Question" value="<%- q.text %>">
          <label for="drpdn">Answer Type:</label>
          <select id="drpdn" name="drpdn" >
            <option value="<%- q.question_type %>" selected disabled hidden>
              <% if(q.question_type == "Likert5") { %>
                Likert Scale 
              <% } else if(q.question_type == "TF") { %>
                True False
              <% } else { %>
              <%- q.question_type %>
              <% } %>

            </option>
            <option value="Multiple Choice">Multiple Choice</option>
            <option value="Short Answer">Short Answer</option>
            <option value="Likert Scale">Likert Scale</option>
            <option value="Picture Choice">Picture Choice</option>
          </select>
          <input type="checkbox" class="Req" name="Req" value="true" <% if(q.question_required == 1) { %> checked <% } %> >
          <label for="Req">Required</label>
          <input type="button" value="- Question" onclick="subtractQuestion(this)" />
        </form>
        <hr>
        <ol id = answerList type="A">
        <%  answers.forEach(a => { %>
          
          <% if(a.question_id == q.question_id){ %>
              <% if(q.question_type == "Multiple Choice") { %>

                  <li> 
                    <input placeholder="" value="<%- a.answer %>"> 
                  </li>
                  
              <% }else if(q.question_type == "Likert5") { %> 

                    <li style ="list-style-type: none;"> 
                      <input   placeholder="" value="<%- a.answer %>"> 
                    </li>
                    
              <% }else if(q.question_type == "Short Answer") { %>
                  <li style ="list-style-type: none;"> 
                    <textarea rows=5 cols=33><%- a.answer %></textarea>
                  </li>


              <% }else if(q.question_type == "TF") { %>

                <li style ="list-style-type: none;">
                  <label for="TF"><%-a.answer%></label>
                  <input type="radio" name="TF" value="<% if(a.answer == "True") { %>T<% } else if(a.answer == "False") { %>F<% } %>"> 
                </li>
                    
              <% } %>
          <% } %>
      <% }); %>

        </ol>

        <div style="text-align: left;">
          <input type="button" value="+ answer" onclick="addAnswerEdit(this)"/>
          <input type="button" value="- answer" onclick="subtractAnswerEdit(this)"/>
        </div>
        <br>
      </li>
      <% }); %>

    </ol>
      <!-------------------------------------------------------------------------------->
      <div>
        <input type="button" value="+ Question" onclick="addQuestionEdit()" />
      </div>

      
 

  </body>
  <script await src="../js/script.js"></script>

  <li id = "questionTemplate" style="visibility: hidden; text-align: left; ">
    <form id = "answerForm">
      <input placeholder="Question">
      <label for="drpdn">Answer Type:</label>
      <select id="drpdn" name="drpdn">
        <option value="Multiple Choice">Multiple Choice</option>
        <option value="Short Answer">Short Answer</option>
        <option value="Likert5">Likert Scale</option>
        <option value="TF">True/False</option>
      </select>
      <input type="checkbox" class="Req" name="Req">
      <label for="Req"> Required</label>
      <input type="button" value="- Question" onclick="subtractQuestion(this)" />
    </form>
    <hr>
    <ol id = answerList type="A">
      <!-- This is where answers will be created -->
    </ol>
    <div>
      <input type="button" value="+ answer" onclick="addAnswer(this)"/>
      <input type="button" value="- answer" onclick="subtractAnswer(this)"/>
    </div>
    <br>
  </li>

</html>

