<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="js/script.js"></script>
    <link rel="stylesheet" href="/css/style.css">

  </head>
    

  <body>
    <div class ="heading">
      <title>Super Cool Webpage: Survey</title>
      <h1 class = "head">Dr. Reevus' Droids Survey</h1>
      <div class="headerLinks">
        <%let link = "mySurveys/" + user; %>
        <ul class="buttonlinks">
          <li class="libutton"><a class="button" href="adminSurveyView">Survey Admin View</a></li>
          <li class="libutton"><a class="button" href="userSurveyView">Survey User View </a></li>
          <li class="libutton"><a class="button" href=<%-link%> ><%-link%></a></li>
          <li class="libutton"><a class="button" href="surveyBuild">Build a New Survey</a></li>
          <li class="libutton"><a class="button" href="/surveyData">Analytics</a></li>
          <li class="libutton"><a class="button" href="about">About</a></li>
          <li class="libutton"><a class="button" href="reevous">Reevous</a></li>
          <li class="libutton"><a class="button" href="signOut">Sign Out</a></li>
        </ul>
      </div>
    </div>
    
    <h2>User View</h2>
    Logged in as: <%- user %>
    <hr>
    <h2>Surveys</h2>
    <ul class = "listSurveys">
      <!-- Make this surveysDB to make it display DB surveys-->
      <% surveysDB.forEach(function (s) { %>
       <% if(s.admin_email != "noadmin") { %>

      <li>
        <div>
          <a href= <%= "/surveyTake/" + s.survey_id %>> <%= s.survey_title %></a>, <em> <%= s.survey_description %> </em> <a style="font-size: 12px;"> Created: (<%= s.created_date %>) Edited: (<%= s.edit_date %>) </a>, Author <%= s.users_email %> Approved by <%= s.admin_email %>
        </div>
      </li>

      <% } %>
      <% }) %>

    <a class="buttonbottom" href="surveyBuild"> Build a New Survey</a>
     
    </ul>
  </body>


</html>
