<!DOCTYPE html>
<html lang="en">
  <header>
    <title>Super Cool Webpage: Survey</title>
    <link rel="stylesheet" href="css/style.css">
  </header>

  <body>
    <header>    
      <div> <%- include('../layout/partials/navigation') %> </div>
    </header>

    <h2>Build a new Survey</h2>
    <hr>

    <form class="optionsForm" action="userSurveyView.html">
      <input id="surveyTitle" placeholder="Survey Title">
      <input type="button" value="Save" onclick=" alert('Your Changes have been Saved!\nYou can safely leave this page :]'); sendSavedSurveyJSON(this);"/>
      <input type="button" value="Submit for Review" onclick="alert('Successfully Saved and Submitted: Waiting for approval\nYou can safely leave this page :]'); sendSubmittedSurveyJSON(this);"/>
      <input id="sharebutton" type="button" value="Share" onclick="share(this)"/>
    </form>


    <textarea id="surveyDesc" placeholder="Description"></textarea>

    <ol id = "questionList">
      <!-- This is where questions will be created -->
    </ol>

    <!-- This <ol> <li> is an invisble template that will be copied to create new questions-->
      <ol style="display: hidden;">
        <li id = "questionTemplate">
          <form id = "answerForm">
            <input placeholder="Question">
            <label for="drpdn">Answer Type:</label>
            <select id="drpdn" name="drpdn">
              <option value="Multiple Choice">Multiple Choice</option>
              <option value="Short Answer">Short Answer</option>
              <option value="Likert Scale">Likert Scale</option>
              <option value="Picture Choice">Picture Choice</option>
            </select>
            <input type="checkbox" class="Req" name="Req">
            <label for="Req"> Required</label>
            <input type="button" value="- Question" onclick="subtractQuestion(this)" />
          </form>
          <hr>
          <ol id = answerList type="A">
            <!-- This is where answers will be created -->
          </ol>
          <div>
            <input type="button" value="+ answer" onclick="addAnswer(this)"/>
            <input type="button" value="- answer" onclick="subtractAnswer(this)"/>
          </div>
          <br>
        </li>
      </ol>

      
      <!-------------------------------------------------------------------------------->


      <div>
        <input type="button" value="+ Question" onclick="addQuestion()" />
      </div>
    
      <script src="js/script.js"></script>

  </body>
</html>

