<!DOCTYPE html>
<html>
  <head>
    <title><%= siteName %> | <%= pageTitle %></title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>

  <body>
    <%- include(`../pages/${template}`) %>
  </body>
</html>
